node_modules
npm-debug.log
.npm

.next
build

public/static/documents

coverage
.swc
junit.xml

storybook-static
build-storybook.log
.nyc_output

.vercel
.turbo
cache

.eslintjscache
.eslintmdcache
.stylelintcache
.prettiercache

tsconfig.tsbuildinfo

scripts/release-post/template.hbs