@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
     :root {
         --background: 0 0% 100%;
         --foreground: 224 71.4% 4.1%;
         --card: 240 5.9% 96.7%;
         --card-foreground: 223 14% 61%;
         --popover: 0 0% 100%;
         --popover-foreground: 224 71.4% 4.1%;
         --primary: 220.9 39.3% 11%;
         --primary-foreground: 210 20% 98%;
         --secondary: 220 14.3% 95.9%;
         --secondary-foreground: 220.9 39.3% 11%;
         --muted: 220 14.3% 95.9%;
         --muted-foreground: 220 8.9% 46.1%;
         --accent: 220 14.3% 95.9%;
         --accent-foreground: 220.9 39.3% 11%;
         --destructive: 0 84.2% 60.2%;
         --destructive-foreground: 210 20% 98%;
         --border: 220 13% 91%;
         --input: 220 13% 91%;
         --ring: 224 71.4% 4.1%;
         --radius: 0.5rem;
         --text-main: #3c3c43;
         --text-muted: #3c3c43c7;
    }

     .dark {
         --background: 240 7% 11%;
         --foreground: 210 20% 98%;
         --card: 231 10% 14%;
         --card-foreground: 210 14% 46%;
         --popover: 224 71.4% 4.1%;
         --popover-foreground: 210 20% 98%;
         --primary: 210 20% 98%;
         --primary-foreground: 220.9 39.3% 11%;
         --secondary: 215 27.9% 16.9%;
         --secondary-foreground: 210 20% 98%;
         --muted: 215 27.9% 16.9%;
         --muted-foreground: 217.9 10.6% 64.9%;
         --accent: 215 27.9% 16.9%;
         --accent-foreground: 210 20% 98%;
         --destructive: 0 62.8% 30.6%;
         --destructive-foreground: 210 20% 98%;
         --border: 215 27.9% 16.9%;
         --input: 215 27.9% 16.9%;
         --ring: 216 12.2% 83.9%;
         --text-main: #fffff5db;
         --text-muted: #ebebf599;
    }
}

 @layer base {
     * {
         @apply border-border;
    }
     body {
         @apply bg-background text-foreground;
    }
}

mark {
  text-decoration: underline;
  background-color: transparent;
}

 .token {
     position: relative 
}

.token.cdata,.token.comment,.token.doctype,.token.prolog {
     color: var(--accents-5) 
}

.token.namespace {
     opacity: .7 
}

.token.attr-value,.token.boolean,.token.constant,.token.string,.token.symbol,.token.url,.token.variable {
     color: #62C073 
}

.language-autohotkey .token.selector,.language-json .token.boolean,.token.atrule,code[class*=language-css] {
     font-weight: 600 
}

.language-json .token.boolean {
     color: var(--geist-success) 
}

.token.keyword {
     color: hsla( 341,90%,67% ,1) 
}

.token.tag.attr-value {
     color: var(--ds-blue-900) 
}

.token.class-name,.token.number,.token.tag {
     color: #62C073 
}

.language-autohotkey .token.tag {
     color: #9a050f 
}

.language-autohotkey .token.keyword,.token.selector {
     color: #F75F8F 
}

.token.bold,.token.important {
     font-weight: 700 
}

.token.italic {
     font-style: italic 
}

.token.deleted {
     color: #FF6166 
}

.token.inserted {
     color: #52A8FF;
}

.language-json .token.property,.language-markdown .token.title {
     color: #EDEDED;
}

.language-markdown .token.code {
     color: #52A8FF;
     font-weight: 400 
}

.language-markdown .token.hr,.language-markdown .token.list {
     color: #A1A1A1 
}

.language-markdown .token.url {
     color: #F75F8F 
}

.token.selector {
     color: #62C073 
}

.token.entity,.token.property {
     color: #FF6166 
}

.token.attr-name,.token.function,.token.regex {
     color: hsla( 275,80%,71% ,1) 
}

.token.operator,.token.punctuation,.token.tag.script {
     color: hsla( 0,0%,93% ,1) 
}

.token.tag.script.string {
     color: #52A8FF;
}

.token.directive.tag .tag {
     background: #FF6166;
     color: #A1A1A1 
}

.code-block_pre___OLfy.code-block_pure__58XFK {
     background: transparent 
}

.code-block_noLineNumbers__jjjKl:before {
     content: none!important 
}

.spinner_wrapper, .spinner {
     --spinner-size: 20px;
     height: var(--spinner-size, 20px);
     width: var(--spinner-size, 20px);
}

.spinner {
     position: relative;
     top: 50%;
     left: 50%;
}

.spinner_bar {
     animation: spinner_spin 1.2s linear infinite;
     background: hsla( 0,0%,56% ,1);
     border-radius: 5px;
     height: 8%;
     left: -10%;
     position: absolute;
     top: -3.9%;
     width: 24%;
}

.spinner_bar:first-child{
     animation-delay: -1.2s;
     transform: rotate(.0001deg) translate(146%);
}

.spinner_bar:nth-child(2) {
     animation-delay: -1.1s;
     transform: rotate(30deg) translate(146%);
}
 
.spinner_bar:nth-child(3) {
     animation-delay: -1s;
     transform: rotate(60deg) translate(146%);
}

.spinner_bar:nth-child(4) {
     animation-delay: -.9s;
     transform: rotate(90deg) translate(146%);
}

.spinner_bar:nth-child(5) {
     animation-delay: -.8s;
     transform: rotate(120deg) translate(146%);
}
 .spinner_bar:nth-child(6) {
     animation-delay: -.7s;
     transform: rotate(150deg) translate(146%);
}
 .spinner_bar:nth-child(7) {
     animation-delay: -.6s;
     transform: rotate(180deg) translate(146%);
}
 
.spinner_bar:nth-child(8) {
     animation-delay: -.5s;
     transform: rotate(210deg) translate(146%);
}
 
.spinner_bar:nth-child(9) {
     animation-delay: -.4s;
     transform: rotate(240deg) translate(146%);
}
 
.spinner_bar:nth-child(10) {
     animation-delay: -.3s;
     transform: rotate(270deg) translate(146%);
}
 
.spinner_bar:nth-child(11) {
     animation-delay: -.2s;
     transform: rotate(300deg) translate(146%);
}
 
.spinner_bar:nth-child(12) {
     animation-delay: -.1s;
     transform: rotate(330deg) translate(146%);
}
 
@keyframes spinner_spin {
  0% {
         opacity: 1;
    }
     
  100% {
         opacity: .15;
    }
}
 
.skeleton {
     background-size: 400% 100%;
     background-color: #111;
     animation: skeleton_loading 8s ease-in-out infinite;
}
 
@keyframer skeleton_loading {
     0% {
         background-position: 200% 0;
    }
     100% {
         background-position: -200% 0;
    }
}

.shiki {
  counter-reset: step;
  counter-increment: step 0;
  .line {
    @apply border-l-4 border-transparent;
    &::before {
      counter-increment: step;
      @apply mr-6 inline-block w-4 border-transparent text-right text-neutral-600 content-[counter(step)];
    }
    &.highlighted,
    &.diff {
      @apply -ml-4 -mr-5 inline-block w-[calc(100%+(theme(spacing.5)+theme(spacing.4)))] pl-4 pr-5;
    }
    &.highlighted {
      @apply border-neutral-500 bg-neutral-800;
    }
    &.diff {
      &.add,
      &.remove {
        span:first-child::before {
          @apply -ml-4 inline-flex w-4;
        }
      }
      &.add {
        @apply border-blue-500 bg-blue-500/25 before:text-blue-500;
        span:first-child::before {
          @apply text-blue-500 content-["+"];
        }
      }
      &.remove {
        @apply border-orange-500 bg-orange-500/30 opacity-70 *:!text-neutral-400 before:text-orange-500;
        span:first-child::before {
          @apply text-orange-500 content-["-"];
        }
      }
    }
  }
}

body {
  font-family: 'Geist Variable', sans-serif
}