.sidebar {
  @apply fixed top-0 bottom-0
  left-0 z-[25] pt-8 px-8 pb-24
  w-[calc(100vw-64px)] max-w-[320px]
  dark:bg-[#161618] opacity-0 overflow-x-hidden
  overflow-y-auto translate-x-[-100%]
  transition-opacity overscroll-contain
  lg:pt-16 lg:w-[272px] lg:max-w-full
  lg:bg-[#161618] lg:opacity-100
  lg:shadow-none lg:translate-x-0
  lg:visible 2xl:pl-[max(32px,calc((100%-(1440px-64px))/2))]
  2xl:w-[calc((100%-(1440px-64px))/2+272px-32px)]
  shadow-[0px_1px_2px_rgba(0,0,0,.04),_0px_1px_2px_rgba(0,0,0,.06)]
}

.curtain {
  @apply lg:sticky lg:-top-16 lg:left-0
  lg:z-[1] lg:mt-[calc(64px*-1)] lg:-mx-8
  lg:h-16 lg:bg-[#161618]
}

.group {
  @apply border-t border-solid border-[#2e2e32] pt-[10px] lg:pt-[10px] lg:w-[calc(272px-64px)]
}

.sidebarItem {
  @apply pb-6
}

.item  {
  @apply touch-manipulation relative flex w-full
}

.indicator {
  @apply absolute top-1.5 bottom-1.5 -left-[17px] w-0.5 rounded-[2px] transition-colors
}

.link {
  @apply flex items-center grow py-1 px-0 leading-[24p] text-[14px] transition-colors font-medium text-[rgba(235,235,245,.6)] hover:text-[#fff] hover:underline
}

.text {
  @apply grow py-1 leading-[24px] text-[14px] transition-colors font-bold text-[rgba(255,255,245,.86)]
}

.content {
  @apply grow shrink-0 w-full
  my-auto mx-0 lg:pt-16 m-0
  lg:mx-0 lg:my-0 lg:pl-[272px]
  2xl:pl-[calc((100vw-1440px)/2+272px)]
  2xl:pr-[calc((100vw-1440px)/2)]
}

.doc {
  @apply w-full pt-8 px-6 pb-24
  md:pt-12 md:px-8 md:pb-32 lg:pt-12
  lg:px-8 lg:pb-0
}

.docContainer {
  @apply my-0 mx-auto w-full
  xl:flex xl:justify-center
}

.asideContent {
  @apply relative hidden order-2
  grow pl-8 w-full max-w-[256px] xl:block
}

.docContent {
  @apply relative my-0
  mx-auto w-full lg:pt-0 lg:px-8
  lg:pb-32 xl:order-1 xl:m-0
  xl:min-w-[640px]
}

.docContent > div{
  @apply my-0 mx-auto
  max-w-[688px]
}